.logo {
  position: fixed;
  left: 40%;
  padding: 40px;
}

.headline {
  font-family: 'Indie Flower', cursive;
  position: relative;
  display: flex;
  text-align: left;
  left: 20vw;
  top: 15%;
  font-size: 40px;
}

.subhead {
  font-family: 'Indie Flower', cursive;
  position: absolute;
  margin-top: 30vh;
  margin-left: 20vw;
}

.chef {
  position: absolute;
  right: 10%;
  background-image: url('https://freesvg.org/img/1583930821red_head_chef.png');
  background-size: 40vh;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  margin-top: 10vh;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: #D8E3F4;
  height: 50vh;
} 

#hamnav {
  width: 15%;
  background: #D8E3F4;
  /* Optional */
  position: fixed;
  top: 0;
  left: 0;
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems a {
  width: 20%; /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  color: #FCF002;
}


  /* Show Hamburger Icon */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #D8E3F4;
    font-style: normal;
    font-size: 5em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
