.logo {
  background: lightblue;
  padding: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background: lightblue;
  height: 50vh;
}

#hamnav {
  width: 20%;
  background: lightblue;
  /* Optional */
  position: fixed;
  top: 0;
  left: 0;
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems a {
  width: 20%; /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  color: #FCF002;
}


  /* Show Hamburger Icon */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: lightblue;
    font-style: normal;
    font-size: 5em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
