.about {
  border-radius: 15%;
  background-color: #FCCC7E;
  padding: 15px;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.14), 0 5px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 1px -5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  color: black;
  width: 50vw;
}

.title {
  font-size: 35px;
}

.intro {
  display: flex;
  flex-wrap: wrap;
}

.body {
  font-size: 25px;
}