.food-title {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.all-foods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 20px;
}

.food-item {
  margin: 0px 25px 25px 0;
  border-radius: 15%;
  background-color: lavender;
  width: 200px;
  height: 250px;
  padding: 15px;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.14), 0 5px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 1px -5px rgba(0, 0, 0, 0.2);
}

.all-foods img {
  width: 150px;
  height: 160px;
  object-fit: contain;
  object-position: 50% 50%;
}

@media screen and (max-width: 550px){
  .all-foods {
    margin: 0 auto;
  }

  .all-foods img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: 50% 50%;
  }

  .food-item {
    margin: 0px 0px 25px 0;
    height: 200px;
  }

  .food-detail {
  margin: 25px 0 0 0;
  background-color: lavender;
  width: 200px;
  height: 180px;
  padding: 15px;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.14), 0 5px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 1px -5px rgba(0, 0, 0, 0.2);
  }
}