.edit-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  margin: 0 auto;
  background-color: lavender;
  width: 600px;
  /* height: 180px; */
  padding: 15px;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.14), 0 5px 5px 5px rgba(0, 0, 0, 0.12), 0 1px 1px -5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form input {
  padding: 5px;
  margin: 10px;
  width: 20vw;
  border-radius: 10px;
}

.edit-fields button {
  margin: 0 auto;
}