.chef {
  /* position: absolute; */
  background-image: url('https://freesvg.org/img/1583930821red_head_chef.png');
  background-size: 50vh;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  display: inline-block;
  margin-left: 700px;
  /* margin-top: 1px; */
}

.food-title {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.all-foods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding-top: 10px;
}

.food-item {
  height: 300px;
  width: 300px;
  background-color: white;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.all-foods img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
  
}

.authchange {
 
}