.search-form {
  position: fixed;
  top: 30%;
  left: 20vw;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 25vw;
  font-size: 18px;
  letter-spacing: 0.1px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.search-input::placeholder {
  letter-spacing: .3px;
}

@media screen and (max-width: 480px){
  .search-form {
    position: fixed;
    top: 22vh;
    left: 10vw;
  }

  .search-input {
    width: 50vw;
  }
}