.search-form {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 40vw;
  font-size: 18px;
  letter-spacing: 0.1px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}

.search-input::placeholder {
  letter-spacing: .3px;
}